body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.main-navbar {
  -webkit-flex: 0.5 0 0;
  flex: 0.5 0 0;
  width: 100%;
}

.main-slider {
  -webkit-flex: 5 0 0;
  flex: 5 0 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

button.main-slider-prev, button.main-slider-next {
  position: absolute;
  top: 40%;
  z-index: 999;
/*  display: block;
*/  padding: 3% 2%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  box-shadow: none;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

button.main-slider-prev:hover, button.main-slider-next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

/*button.main-slider-prev {
  right: 2;
}
*/
button.main-slider-next {
  right: 0;
}

button:focus {
  outline: 0;
}

.main-resultslist {
  -webkit-flex: 3 0 0;
  flex: 2 0 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
}

.results-list-entry {

}

.search-bar {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 40%;
  margin-bottom: 20px;
}
