body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 800px;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
}
.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}
.main-navbar {
  -webkit-flex: 0.5 0 0;
  flex: 0.5 0 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2em;
  color: #a3d8d6;
}
.main-navbar img{
  height: 20px;
}
.main-navbar-image1 {
  margin-left: 4px;
}
.main-slider {
  -webkit-flex: 5 0 0;
  flex: 5 0 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}
button.main-slider-prev, button.main-slider-next {
  position: absolute;
  top: 40%;
  z-index: 999;
  padding: 3% 2%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  box-shadow: none;
  border-radius: 5px;
  border: 0;
  text-decoration: none;
  font-size: 1.1em;
  opacity: 0.8;
  cursor: pointer;
}
button.main-slider-prev:hover, button.main-slider-next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
button.main-slider-next {
  right: 0;
}
button:focus {
  outline: 0;
}
.main-resultslist {
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main-resultslist-none {
  font-size: 40px;
  display: block;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #D3D3D3;
}
.main-resultslist-none img{
  height: 40px;
}
.results-list-entry {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out:
}
.results-list-entry:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.7);
}
.container-image-wrapper {
  -webkit-flex: 4 0 0;
  flex: 4 0 0;
  width: 100%;
  position: relative;
}
.container-image-score {
color: white;
display: inline-block;
position: absolute;
top: 2px;
left: 2px;
background: #2a2a2a;
opacity: 0.8;
padding: 2%;
border-radius: 3px;
font-size: 1em;
}
.container-image-score span{
  padding: 0;
}
.container-image-score img{
  display: inline-block;
  width: 10px;
  vertical-align: top;
  margin-left: 5px;
}
.container-image-price {
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: #2a2a2a;
  opacity: 0.8;
  padding: 2%;
  border-radius: 3px;
}
.container-content {
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  width: 100%;
  clear: both;
  float: left;
  font-size: 1em;
  position: relative;
}
.container-content-workplace {
font-weight: bold;
font-size: 1.1em;
text-align: center;
}
.container-content-location {
font-weight: lighter;
font-size: 0.8em;
text-align: center;

}
.search-bar {
  position: absolute;
  z-index: 999;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  top: 0;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}
.search-bar-wrapper {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.search-bar input{
  height: 25px;
  width: 95%;
  border: none;
  border-radius: 5px;
  text-align: center;
  border: 6px solid #a3d8d6;
  padding: 1% 0.5%;
  font-size: 1em;
  box-shadow: 0 1px 1px #DDD;
  color: #7b8585;
}
.search-bar input:focus{
  outline: none;
}
.search-bar button{
  height: 30px;
  margin-top: 7px;
  margin-left: 4px;
  vertical-align: bottom;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;

}
.search-bar button:hover{
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
.search-bar img{
  height: 20px;
}
.search-bar ul{
  list-style: none;
  text-align: center;
  width: 90%;
  margin: 0;
  padding: 0;
}
.search-bar li{
  border-radius: 5px;
  padding: 2% 1%;
  margin-top: 3px;
  background-color: white;
  opacity: 0.8;
  color: #7b8585;
  text-align: center;
}
.search-bar li:hover{
  background-color: #a3d8d6;
  opacity: 1;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .main-navbar {
    -webkit-flex: 0.3 0 0;
    flex: 0.3 0 0;
  }
  .main-slider {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
  }

  .main-resultslist {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
  }
  .results-list-entry {
    margin-left:60px;
    margin-right: 60px;
  }
}
@media only screen and (max-width: 740px) {
  .main-navbar {
    -webkit-flex: 0.3 0 0;
    flex: 0.3 0 0;
  }
  .main-slider {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
  }
  .main-resultslist {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
  }
  .results-list-entry {
    height: 200px;
  }
  .search-bar button{
    margin-top: 5px;
    margin-left: 6px;
  }
  .search-bar img{
    height: 16px;
    vertical-align: middle;
  }
}
@media only screen and (max-width: 500px) {
  .main-navbar {
    -webkit-flex: 0.25 0 0;
    flex: 0.25 0 0;
  }
  .main-slider {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
  }
  .results-list-entry {
    height: 200px;
  }
  .main-resultslist {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
  }
  .main-resultslist-none {
    font-size: 30px;
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: #D3D3D3;
  }
  .main-resultslist-none img{
    height: 30px;
  }
  .search-bar button{
    height: 30px;
    margin-left: 8px;
    margin-top: 5px;
  }
  .search-bar img{
    height: 14px;
    vertical-align: middle;
  }
}
